body {
  font-family: Arial, sans-serif;
  background: #f5f0fa;
  margin: 0;
  padding: 10px;
}

header {
  background: #8e6ac9;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

h2 {
  color: #5b3fa3;
}

div {
  margin-top: 20px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #8e6ac9;
  color: white;
  border: none;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
}
